html
    body

        h1 Hi ,This is Lab10 by Xunzhi Li
        if statement == 'n'
            p Log out
            a(href="http://localhost:3000/") Back to Login Page
        else
            ul
                li Username:   #{username}
                li FirstName:   #{FirstName}
                li LastName:    #{LastName}
                li Profession:    #{Profession}
                li Bio:    #{Bio}
            a(href="http://localhost:3000/logout") Logout
